:root {
	--color-text: system-ui;
	--bgcolor-text: CanvasText;
	--bgcolor-table: AccentColor;
	--color-table: AccentColorText;
	--color-provider: Highlight;
	--color-provider-variant: lime;
}
html {
	color: Canvas;
	background-color: var(--bgcolor-text);
	font-family: sans-serif;
	height: 100%;
	width: 100%;
	display: grid;
}
body {
	display: grid;
	grid-template-areas:
		"header"
		"main"
		"footer";
}
header {
	grid-area: header;
	place-self: start center;
	font: bold xxx-large var(--color-text);
	text-decoration: double underline;
}
footer {
	grid-area: footer;
	place-self: end center;
	color: var(--color-provider-variant);
	a {
		color: var(--color-provider);
	}
}
main {
	grid-area: main;
	place-self: start stretch;
	display: grid;
	grid: auto-flow / auto repeat(4, 1fr);
	grid-template-areas: "provider ip ip ip ip";
	grid-gap: 0 .5ch;
	color: Mark;

	> * {
		margin: 0;
		white-space: nowrap;
		padding: 0 .5ch;
	}

	> hr {
		grid-column: provider / ip
	}

	/*	Table headers	*/
	> :nth-child(-n+2) {	/*first two childs*/
		grid-area: provider;
		text-align: center;
		color: var(--color-table);
		background-color: var(--bgcolor-table);
		border-radius: 2ch 2ch 0 0;
		font: bold x-large var(--color-text);
	}
	> :nth-child(2) {
		grid-area: ip;
	}

	/*	All info rows	*/
	> :not(:nth-child(-n+2), hr) {
		border-color: var(--bgcolor-table);
		border-right: double;
		/*padding: 0 .5ch;*/
	}

	/*	row distinguising	*//*
	> :nth-child(-n+5 of :not(.header, hr)) {
	background-color: gray;
	}*/

	/*	Provider name column	*/
	> :nth-child(5n+1 of :not(:nth-child(-n+2), hr)) {
		text-align: right;
		color: var(--color-provider);
		i::before	{ content: '(' }
		i::after	{ content: ')' }
		i {
			color: var(--color-provider-variant);
			font-size: x-small;
			margin-right: .25ch;
		}
		a {
			color: inherit;
		}
	}

	/*	IP's	*/
	> :nth-child(5n+2 of :not(:nth-child(-n+2), hr)),
	> :nth-child(5n+4 of :not(:nth-child(-n+2), hr)) {
		text-align: right;
		border-right-style: dotted;
	}
	> :nth-child(5n+3 of :not(:nth-child(-n+2), hr)),
	> :nth-child(5n+5 of :not(:nth-child(-n+2), hr)) {
		text-align: left;
		border-right-style: dashed;
	}
}